{% extends "admin/ordenes/layout_admin.html" %}
    
{% block title %}
    Ordenes 
{% endblock %}

{% block content %}
<div class="col">

 
    <table>    
        {% if table%}
        <h1>
            Litado de productos 
        </h1>
            
        {% for col in table["columns"] %}
  <th>

      {{ col }}
    </th>
        {%endfor%}
        {% for item in table["rows"] %}
            <tr>
    
            
            {% for dato in item %}
        
        <td>

            {{dato}}
        </td>
          
            {% endfor %}

        </tr>
        {% endfor %}
    </div>
    {% endif%}
</table>
    
</div>
    {% endblock %}

{% block menu%}
{{super()}}
    <ul>
        {% for opcion in opciones %}
            <li>{{ opcion }}</li>
        {% endfor %}
    </ul>
{% endblock %}