{% extends "admin/ordenes/layout_admin.html" %}
    
{% block title %}
    Ordenes 
{% endblock %}

{% block content %}
<div class="col">

    {% if items%}
    Productos
    <div class="col">
        
        {% for item in items %}
        <div class="row">
            {% for dato in item %}
            <div>
                {{dato}}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endif%}
    
</div>
    {% endblock %}

{% block menu%}
{{super()}}
    <ul>
        {% for opcion in opciones %}
            <li>{{ opciones.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}