*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #f5f5f5 ;
	height: 100%;
}

.row
{
	display:flex; 
	flex-direction: row;
}
.col
{
	display:flex; 
	flex-direction: column;
	align-items: center;
}

.center-vi{
	display:flex; 
	flex-direction: row;
	align-items: center;

}
.center-hi{
	display:flex; 
	flex-direction: row;
	justify-content: center;

}
a{
	color: black;
	text-decoration: none;
}

header img {
	width: 100px; 
	padding: 0 10px;
}

header
{
	padding: 20px;
	background: rgb(202, 202, 202) ;
	box-shadow:  0px 10px 20px rgba(202, 202, 202,.5);

}
header ul {
	list-style: none;
	color: white;
	padding-left: 20px;
}
header ul li *{
	color: white;
	font-weight: bolder;
}

/* contenedor */
.container{
	display: grid;
	grid-template-columns: 20% 1fr;
}
aside{
 background: red;
}

article{
	margin-top: 20px;
	margin-bottom: 100px;
}


/* footer */
 footer{
	position: fixed;
	 bottom: 0px;
	background:#000;
	color:#fff;
	padding:5px 0px;
	text-align:center;
	width: 100%;
 }

 footer * {
	 font-size: 10px;
 }

/* validaores por css */
 input:invalid {
	box-shadow: 2px 2px 2px red;
  }
  
  input:valid {
	 box-shadow: 2px 2px 2px green;
  }



  /* formularios */
  form{
	  padding: 20px;
	  background: rgb(202, 202, 202);
	  box-shadow: 0px 10px 20px rgba(202, 202, 202,.5)
  }
  form label{
	  padding: 10px 0;
  }

 #orden .row{
	  margin-top: 5px;

  }
  .tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
  .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
  .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
  .tg .tg-baqh{text-align:center;vertical-align:top}
  .tg .tg-7803{color:#ffffff;text-align:left;vertical-align:top}
  .tg .tg-797t{background-color:#f9f9f9;font-weight:bold;text-align:left;vertical-align:top}
  .tg .tg-dzk6{background-color:#f9f9f9;text-align:center;vertical-align:top}
